/* CSS Document */


/*标签在各个浏览器存在默认margin Or padding值,且各不相同,故全部清零,必要的时候需单独添加,故:*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin: 0;padding: 0}

/*使超出高度显示滚动条,使火狐浏览器滚动条的位置一直存在,故:*/
html {color: #000;overflow-y: scoll;overflow: -moz-scrollbars-vertical}

/*重置全局字号及字体(字体以无衬线体为主),因控件类标签不完全遵从body的继承,单独拎出来写,故:*/
body, button, input, select, textarea {font-size: 12px;font-family: Helvetica,Hiragino Sans GB,Tahoma,Geneva,\5FAE\8F6F\96C5\9ED1,simhei,Arial, sans-serif}

/*设定100%使其可以正确继承父级元素的字号,故:*/
h1, h2, h3, h4, h5, h6, button, input, select, textarea {font-size: 100%}

/*解决表单项不能水平对齐的问题,故:*/
input{vertical-align: middle}

/*重置特殊标签样式及字号,故:*/
em {font-style: normal}
small {font-size: 12px}

/*清除列表的默认格式,故:*/
ul, ol {list-style: none}

/*重置链接的各级状态,故:*/
a {text-decoration: none}
a:hover {text-decoration: underline}

/*统一全局的控件;图片;表格等的基础样式,故:*/
legend {color: #000}/*legend和fieldset不常用*/
fieldset, img {border: 0}/*取消链接下的图片等的默认边框*/
table {border-collapse: collapse;border-spacing: 0}/*表格边框线二合一，表格无默认内间距*/
img {-ms-interpolation-mode: bicubic}/*仅IE的属性，用以保证在图片缩放时降低失真*/
textarea {resize: vertical}/*允许用户对文本域进行纵向拉伸*/
label, button, a {cursor: pointer}/*所有的链接、按钮及lable存在手型，以提高用户体验*/

/*初始化一些常用类名:*/
.left {float: left}
.right {float: right}
.overflow {overflow: hidden}
.hide {display: none}
.block {display: block}
.inline {display: inline}
.error {color: #F00;font-size: 12px}
.clearfix:after {content: '\20';display: block;height: 0;clear: both}
.clearfix {zoom: 1}
.clear {clear: both;height: 0;line-height: 0;font-size: 0;visibility: hidden;overflow: hidden}
.wordwrap {word-break: break-all;word-wrap: break-word}
pre.wordwrap {white-space: pre-wrap}